.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 8px 10px 8px 40px;
  outline: 0;
  font-size: 1rem;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  &:focus::placeholder {
    font-size: 0;
  }
  &::placeholder {
    font-style: italic;
    color: rgba(0, 0, 0, 0.2);
  }
}

.root {
  position: relative;
}

.searchicon {
  width: 2rem;
  height: auto;
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 2%;
}

.clearIcon {
  width: 1.5rem;
  height: auto;
  position: absolute;
  opacity: 0.3;
  z-index: 100;
  top: 19%;
  left: 2%;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
